entrypoint = "main.go"

modules = ["go"]

[gitHubImport]
requiredFiles = [".replit"]

[deployment]
build = ["sh", "-c", "go build main.go"]
run = ["sh", "-c", "./main"]
ignorePorts = false
deploymentTarget = "gce"
